<%= form_for [:admin, @asset], :html => { :multipart => true }  do |f| %>
  <%= error_messages_for @asset %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Title" %>
  </div>

  <div class="field">
    <%= f.text_field :description, :placeholder => "Description" %>
  </div>

  <div class="field">
    <%= f.file_field :document %>
  </div>

  <hr class="thick" />

  <p>
    <%= f.submit :class => "button" %> or <%= link_to "cancel", admin_assets_path %>
  </p>
<% end %>