<%= form_for [:admin, @post] do |f| %>
  <%= error_messages_for @post %>

  <div id="body">
    <div class="field">
      <%= f.label :author_id, t(".author") %>
      <%= f.collection_select :author_id, @authors, :id, :full_name %>
    </div>

    <div class="field">
      <%= f.text_field :title, :placeholder => ta(Post, :title), :class => "title" %>
    </div>

    <div class="field">
      <%= f.text_area :excerpt, :placeholder => ta(Post, :excerpt), :rows => 5, :cols => 70 %>
    </div>

    <div class="field">
      <%= f.text_area :body, :placeholder => ta(Post, :body), :rows => 30, :cols => 70 %>
    </div>

    <div class="field">
      <%= f.check_box :draft %>
      <%= f.label :draft %>
    </div>

    <hr class="thick" />

    <p>
      <%= f.submit :class => "button" %> ou <%= link_to t("cancel"), admin_posts_path %>
    </p>
  </div>

  <div id="sidebar">
    <%= section t(".categories") do %>
      <ul class="categories-field">
        <%- @categories.each do |c| -%>
          <li><%= check_box_tag "post[category_ids][]", c.id, @post.categories.include?(c) %> <%= c.name %></li>
        <%- end -%>
      </ul>
      <div class="bar">
        <%= link_to_new PostCategory, new_admin_post_category_path, :class => "button right" %>
      </div>
      <br/>
    <% end %>

    <hr/>

    <%= section  do %>
      <div class="field">
        <%= f.label :published_at %><br/>
        <%= f.date_select :published_at, :use_short_month => true %>
      </div>
    <% end %>

    <hr/>

    <%= section  do %>
      <div class="field">
        <%= f.label :slug, t(".slug") %><br/>
        <%= f.text_field :slug, :size => 38 %>
      </div>
    <% end %>

    <hr/>

    <%= section t(".media") do %>
      <div id="media" class="media">
        <%= render :partial => "asset", :collection => @assets %>
      </div>

      <p>
        <%= link_to "load more assets",
              assets_admin_posts_path(:page => @assets.next_page),
              :remote => true,
              :id => "more-assets",
              :class => "button" %>

        <%= image_tag "loader.gif", :id => "assets-loading", :class => "middle loading" %>
      </p>
    <% end %>
  </div>

<% end %>

<%= javascript_include_tag "lib/jquery.textile.image" %>

<% content_for :bottom do %>
  <script type="text/javascript" charset="utf-8">

    var toggleLoading = function() { $("#assets-loading").toggle() };

    $("#more-assets")
      .bind("ajax:loading",  toggleLoading)
      .bind("ajax:complete", toggleLoading);

    $(".media").insertTextileImageTo("#post_body")
  </script>
<% end %>